<h1>Edit: {{item.title}}</h1>
<form>
  <fieldset class="form-group">
    <label for="isbn">ISBN</label>
    <input class="form-control" type="text" id="isbn" name="isbn" ng-model="item.isbn">
  </fieldset>

  <fieldset class="form-group">
    <label for="price">Price</label>
    <input class="form-control" type="text" fcsa-number="{min:0, prepend: '$', maxDecimals: 2}" id="price" name="price" ng-model="item.price">
  </fieldset>

  <fieldset class="form-group">
    <label for="condition">Condition</label>
    <select class="form-control" name="condition" id="condition" ng-model="item.condition" ng-options="condition.id as condition.condition for condition in conditions">
    </select>
  </fieldset>

  <p>{{conditions[item.condition].description}}</p>

  <fieldset class="form-group">
    <label for="conditionDescription">Condition Description</label>
    <textarea class="form-control" type="text" id="conditionDescription" name="conditionDescription" ng-model="item.conditionDescription">
  </fieldset>

</form>
