<h1>Items Index</h1>
<div class="container">
  <div class="row">
    <div ng-repeat="item in items | orderBy: '-posted' " class="col-sm-6">
      <a ng-href="#/items/{{item._id}}">
        <div class="panel panel-info">
          <div class="panel-heading text-left">
            {{item.title}}
          </div>
          <div class="panel-body row">
            <div class="col-sm-3">
              <img ng-src="{{item.imageUrl}}" class="col-sm-10" />
            </div>
            <div class="col-sm-9">
              <p>Price: {{item.price | currency}}</p>
              <p>Posted: {{item.posted | date: 'dd-MMM-yy'}}</p>
              <p>Condition: {{conditions[item.condition].condition}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
