<div class="page-header row">
  <div class="col-sm-2">
    <img ng-src="{{item.imageUrl}}" class="col-sm-12"/>
  </div>
  <div class="col-sm-10">
    <h1>{{item.title}}</h1>
    <h4>{{item.authors}}</h4>
    <h5>{{item.publisher}}: {{item.publishedDate}}</h5>
    <small>{{item.description}}</small>
  </div>
</div>
<p>Posted: {{item.posted}}</p>
<p>Price: {{item.price}}</p>
<a href="#/items/{{item._id}}/edit" class="btn btn-default">Edit Item</a>
<a href="" class="btn btn-danger">Delete Item</a>
